body{font-family: Verdana, sans-serif; color: #0d1217;background-color:#d6dcdf;}
h1,h2 {color: #3d1866;}
.paragraph1{color: #FFFFFF;background-color: #F76900;}
.paragraph2{color: #FFFFFF;background-color: #000E54;}
.paragraph3{color: #000E54;background-color: #ADB3B8;}
p {padding: 2em;}
