body{font-family: Verdana, sans-serif; color: #0d1217;background-color:#d6dcdf;}
h1,h2 {color: #125BBA;}
a {color: #5f4185;}
.evenrow {background-color: #8f8f8fec;}
.caption{color: #66a2f0;}
nav a {color: #512f78;}
nav a:hover {background-color: #f6f6f9;}
nav {padding: 10px;}
nav {margin-bottom: 10px;}
.quote{float: right;}
.title{margin-left: 40px;}

.heading{background-color: #f6f6f9; width:70% ; border-radius: 1em; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-left: 10px;}
.table{display: flex; float: left; margin-left: 400px; margin-top: 20px;}

.intro{text-align:center; width: 65%; margin-left: 30px; margin-top: 30px;}
.flexbox{display:flex; justify-content: space-between; margin-left: 50px; margin-right: 50px; flex-wrap: wrap;}
.flexbox1{display:flex; justify-content:space-around; flex: 3; order: 1; margin-top: 60px; margin-right: 40px ;}
.flexbox2{display:flex; background-color: #f6f6f9; border-radius: 1em; flex: 1; order: 2; padding: 30px;}


.banner{max-width: 100%;}


.row1 {background-color: #f6f6f9; border-radius: 1em; display: flex; margin-bottom: 20px; margin-left: 40px; margin-right: 40px;}
    .column1 {width: 50%; order: 1; clear: both; margin-left: 30px;}
    .column2 {width: 50%; order: 2; clear: both;}

.row2 {background-color: #f6f6f9; border-radius: 1em; display: flex; margin-left: 40px; margin-right: 40px; padding: 10px; flex-wrap: wrap;} 
.row2 .form {width: 50%; order: 1; clear: both; margin-left: 10px; margin-top: 70px;}
.row2 .map {width: 118%; order: 2; clear: both; margin-right: 20px; margin-top: 20x;}

@media (max-width: 768px) { nav a { display: block; width: 100%; margin: 5px 0; } nav span { display: none; } }

.skip {position: absolute; top: auto; left: -10000px; width: 1px; height: 1px; overflow: hidden;}
.skip:focus {position: static; width: auto; height: auto; overflow: visible;}